<!doctype html>
<html>
  <head>
    <title>Edit Plant</title>
  </head>
  <body>
    <h1>Edit Plant</h1>
    <form method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="{{ plant['name'] }}"><br>
      <label for="type">Type:</label>
      <input type="text" id="type" name="type" value="{{ plant['type'] }}"><br>
      <label for="age">Age:</label>
      <input type="text" id="age" name="age" value="{{ plant['age'] }}"><br>
      <input type="submit" value="Save">
    </form>
  </body>
</html>
