body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #666666;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
